
/* Estrutura do rodapé */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #bb1515be;
    color:#fff ;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}



main {
    padding: 20px;
}


.rodape {
    background-color:  #bb1515be;
    color: white;
    height: auto;
    width: 100%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.rodape a {
    text-decoration: none;
    color: whitesmoke;
    margin-bottom: 5px;
}
.rodape p {
    margin-bottom: 5px;
}
.rodape-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4 {
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}

.rodape span {
    font-size: 15px;
    color: rgb(255, 255, 255);

}

.rodape-direitos {
    width: calc(100% - 20px)  ;
    background-color: white;
    padding: 10px;
    margin:0px;
    font-size: center;
}
