/* eztilização geral*/
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

body {
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
    margin: 0;
    padding: 0;
}
header {
    background-color: #bb1515be;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: unset;
    color:#fff ;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image {
    width: 200px;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.description {
    text-align: center;
    margin-top: 40px;
}

.description h2 {
    color: #333;
}

/* Estilos para seções de vídeo e áudio */
.video-section,
.audio-section {
    margin-bottom: 30px;
}

.video-section h2,
.audio-section h2 {
    text-align: center;
}

/* Estilos específicos para o vídeo e áudio */
video,
audio {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 80%;
    max-width: 800px;
}


/* Estilos para a tabela 1 */

 #tabela1 {
    margin-bottom: 30px;
}

#tabela1 th {
    background-color: #5a1d1d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#tabela1 td {
    padding: 10px;
    text-align: left;
}

#tabela1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para a tabela 2 */
#tabela2 {
    margin-bottom: 30px;
}

#tabela2 th {
    background-color: #5a1d1d;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#tabela2 td {
    padding: 10px;
    text-align: left;
}

#tabela2 tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para a tabela 3 */
#tabela3 {
    margin-bottom: 30px;
}

#tabela3 th {
    background-color: #5a1d1d;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#tabela3 td {
    padding: 10px;
    text-align: left;
}

#tabela3 tr:nth-child(even) {
    background-color: #f2f2f2;
}
/* Estilos para a tabela 4 */
#tabela4 {
    margin-bottom: 30px;
}

#tabela4 th {
    background-color: #5a1d1d;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#tabela4 td {
    padding: 10px;
    text-align: left;
}

#tabela4 tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para a tabela 5 */
#tabela5 {
    margin-bottom: 30px;
}

#tabela5 th {
    background-color: #5a1d1d;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#tabela5 td {
    padding: 10px;
    text-align: left;
}

#tabela3 tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*estilização pagina contato */
.contato {
    width: 100%;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.main-contato {
    position: relative; 
    width: 100%; 
    background-image: url(img/pizza-show.jpg); /* Define a imagem de fundo */
    background-size: cover; 
    background-position: center; 
}

form {
    position: absolute; /* Define a posição absoluta */
    top: 30%; /* Centraliza verticalmente */
    left: 60%; /* Centraliza horizontalmente */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    padding: 60px; 
    border-radius: 10px; 

}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #555;
}

/* estiliza pagina bebidas*/

.drink-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
 
.drink-menu image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.drink-h1 {
    padding:40px ;
    text-align: center;
}

/* estilização rodape*/ 

.rodape {
    background-color:  #bb1515be;
    color: white;
    height: auto;
    width: 100%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.rodape a {
    text-decoration: none;
    color: whitesmoke;
    margin-bottom: 5px;
}
.rodape p {
    margin-bottom: 5px;
}
.rodape-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4 {
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}

.rodape span {
    font-size: 15px;
    color: rgb(255, 255, 255);

}

.rodape-direitos {
    width: calc(100% - 20px)  ;
    background-color: white;
    padding: 10px;
    margin:0px;
    font-size: center;
}
